{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
  <title>Register</title>
</head>
<body>

<style>
    h5{
        color:red;
    }
</style>
<h1></h1>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<div class="wrapper">
  <div class="logo">
      <img src="./static/assets/images/logo.jpg"  alt="">
  </div>
  <div class="text-center mt-4 name">
    CREATE ACCOUNT
  </div>
  <form class="p-3 mt-3" action="register" method="POST">
      {% csrf_token %}
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="username" id="userName" placeholder="username">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="email" name="email" id="pwd" placeholder="email">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="password">
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" name="password2" id="pwd" placeholder="confirm password">
    </div>
      <button class="btn mt-3">Sign up</button>
  </form>
</body>
</html>